fastapi
uvicorn
sqlalchemy
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
# Fix incompatibilidad con passlib y bcrypt >=4.1 (falta __about__)
bcrypt==4.0.1
psycopg2-binary
pywebpush
pytesseract
Pillow
pdf2image
